Source: libpod-elemental-transformer-list-perl
Maintainer: Debian Perl Group <pkg-perl-maintainers@lists.alioth.debian.org>
Uploaders: Dominique Dumont <dod@debian.org>
Section: perl
Testsuite: autopkgtest-pkg-perl
Priority: optional
Build-Depends: debhelper-compat (= 13)
Build-Depends-Indep: libmoose-perl <!nocheck>,
                     libnamespace-autoclean-perl <!nocheck>,
                     libpod-elemental-perl <!nocheck>,
                     libtest-differences-perl <!nocheck>,
                     libtest-fatal-perl <!nocheck>,
                     perl
Standards-Version: 4.6.2
Vcs-Browser: https://salsa.debian.org/perl-team/modules/packages/libpod-elemental-transformer-list-perl
Vcs-Git: https://salsa.debian.org/perl-team/modules/packages/libpod-elemental-transformer-list-perl.git
Homepage: https://metacpan.org/release/Pod-Elemental-Transformer-List
Rules-Requires-Root: no

Package: libpod-elemental-transformer-list-perl
Architecture: all
Depends: ${misc:Depends},
         ${perl:Depends},
         libmoose-perl,
         libnamespace-autoclean-perl,
         libpod-elemental-perl
Description: module to transform :list regions into =over/=back
 Pod::Elemental::Transformer::List module provides a way to write lists
 in Pod in an easier way than usual =over/=item/back section.
 .
 In your Pod document, you must add a =for declaration and then the list
 items prefixed with '*'
